/* ui/styles/test.tcss */

#test-shell {
    align: center middle;
    width: 100%;
    height: 100%;
}

#test-header {
    text-align: center;
    text-style: bold;
    padding-bottom: 2;
}

#sfx-row {
    align: center middle;
    height: 3;
}
